/* ROOT STYLES */

:root{

    --header-font: "Caveat Brush", sans-serif ;
    --p-font: "Poppins", sans-serif;

    --blue: #4cd1e2;
    --dk-blue: #3045a0;
    --teal: #13a69a;
    --tan: #FDD8B5;
    --dusty-tan: #f8973b;
    --white: #fff;
    --dk-gray: #a9a9a9;
    --brown: #c18043;
    --pale-yellow: #fcf17a;
}

/* BODY STYLES */

body{
    margin: 0 auto;
    background-color: var(--tan);
}


/* SKIP CONTENT STYLES */

#skip-link{
    background-color: var(--dusty-tan);
    color: var(--white);
    font-family: var(--p-font); 
    font-weight: bold;
    font-size: 2rem;
    left: 600px;
    position: absolute;
    padding: 0 78px  0 78px;
    text-decoration: none;
    border: solid var(--blue);
    transform: translateY(-55px);
    text-transform: uppercase;
    
  }
  
  #skip-link:focus {
    transform: translateY(25px); 
  }
  
  #skip-link{
    transition: transform 0.3s;
  }

/* HEADER STYLES */

header{
    background-image: linear-gradient(var(--teal), var(--tan));
    display: flex;
    justify-content:flex-start;
    align-items: center;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 6rem;
}

h1{
   font-family: var(--header-font);
   font-size: 6rem; 
   margin-bottom: 0; 
}

.h1-tagline{
    padding-left: 3rem;
}

header p{
    font-family: var(--p-font);
    font-style: italic;
    margin-top: 0;
    font-size: 1.6rem;
}


nav {
    display: flex;
    font-family: var(--header-font);
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: uppercase;
    align-items: center;
    justify-content: space-around;
    padding-left: 25px; 
    margin-top: 0;
    
}

ul{
    display: flex;
    list-style-type: none;
    padding-left: 25px;
   
}
a {
    text-decoration: none;
    color: var(--blue); 
}
a:hover{
    color:var(--dusty-tan);
    text-decoration-style: wavy;
    text-decoration-line: underline;
    
}

li {
    border: solid var(--white);
    background-color: var(--white);
    padding: 0 1.7rem;
    margin-top: 0.5em;
    margin-left: 25px;
    border-radius: 50px;
    align-content: center;    
}

h5{
    visibility: hidden;
}

main{
    background-color: var(--tan);
}
/* MAJORCA STYLES */

 main #majorca{
    margin-top: 17px;
    display: flex;
}
#majorca-intro{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h2 {
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: var(--header-font);
    padding: 0 0 0.5em 0.5em;
    margin: 0;
    letter-spacing: 0.1em;
}

#majorca p {
    padding: 2em;
    font-family: var(--p-font);
    font-size: 1.7rem;
}

.majorca-images{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 10px;
}
.majorca-images picture{
    padding: 5px;
    
}

/* PLAN TRIP STYLES */

#plan-trip, #testimonies, #about-destination{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
    padding-bottom: 50px;
}

#plan-trip{
    background-image: linear-gradient(var(--tan), var(--white));
    margin-top: 50px;
   
}

.container-1, .container-2{
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-content: center;
    padding: 20px;
}

 h3{
    font-size: 3em;
    font-family: var(--header-font);
    padding: 3rem; 
    text-transform: uppercase; 
    border: 10px;
    border-radius: 60%;
    background-color: var(--pale-yellow);
    letter-spacing: 0.1em;

}

h4{
    font-size: 2em;
    color: var(--white);
    letter-spacing: 0.1em;
}

.container-1 a{
    color: black;
    font-size: 1rem;
    font-family: var(--p-font);
}
.container-1 a:hover{
    color: var(--teal);
}

.container-1 div{ 
    border-radius: 10px;
    border: solid var(--teal);
    background-color: var(--brown);
    max-width: 260px;
    padding: 25px;
    margin: 20px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-family: var(--header-font);
}

.container-1 svg{
 background-color: var(--white);
 border-radius: 10px;
}

/* TESTIMONIALS STYLES */

#testimonies{    
    background-image: linear-gradient(var(--white), var(--tan)); 
}

.container-2 div{ 
    max-width: 300px;
    background-color: var(--teal);
    padding: 30px;
    margin: 20px;
    font-weight: bold;
    border-radius: 10px;
    border: solid var(--white);
    text-align: center;
    text-transform: uppercase;
    font-family: var(--header-font);
}

.container-2 img{
 border-radius: 50%;
 border: solid var(--white);
 
}

.container-2 q{
    letter-spacing: 0.1em;
    color: var(--white);
    font-family: var(--p-font);
    text-transform:none;
}
.container-2 p{
    font-family: var(--p-font);
    text-transform: capitalize;
}

/* ABOUT DESTINATION STYLES */

#about-destination{
    background-color: linear-gradient(var(--tan), var(--teal));
}


.container-3{
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-content: center;
    letter-spacing: 0.1em;
    padding: 20px;
}

.container-3 div{ 
    padding: 30px;
    margin: 20px;
    align-content: center;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-family: var(--header-font);
}

.container-3 p{
    font-size: 1.2rem;
    font-family: "Poppins", sans-serif;
}

.container-3 h4{
    color: var(--teal);
}


/* FOOTER STYLES */
footer{
    background-image: linear-gradient(var(--tan), var(--teal));
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

#footer-top{
    display: flex;
    padding-top: 3rem;
    padding-bottom: 3rem;
    justify-content: center;
    align-items: baseline;

}

#footer-top1, #footer-top2{
    padding: 25px;
}

form{
    background-color: var(--brown);
    border: 12px;
    border-radius: 28px;
    
}

label, legend{
    font-size: 1.6rem;
    font-family: var(--p-font);
    font-weight: bold;
	padding-left: 0.5em;
    
}

select{
    border: 1px solid var(--dk-blue);
	font-size: 1em;
	padding: 0.25em;	
}

input{
    border: 1px solid var(--dk-gray);
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 2em;
    padding: 20px;
    margin-bottom: 10px;  
}

.required{
    color: rgb(246, 63, 63);
    font-weight: bold;
  }

fieldset{
	padding: 1rem;
	display: flex;	
    align-items: center;	
}

fieldset label{
    font-size: 1.2rem;
    font-weight: normal;
    padding: 10px;
    margin: 0;
}

#destination{
    border-radius: 0.4em;
    max-width: 275px;
    width: 90%;
    height: 3em;
    margin-bottom: 1em;
}

input[type=submit]{
    background-color: var(--teal);
	color: var(--white);
	font-family: var(--p-font);
    font-size: 1.1rem;
    font-weight: bold;
	padding: 1rem;
	max-width: 200px;
    width: 75%;
	height: auto;
    margin-top: 100px;
	margin-left: 300px;
    margin-bottom:0; 
}

input[type="submit"]:hover{
    box-shadow: 10px 5px 5px var(--dk-blue);
}
input[type="submit"]:focus{
    box-shadow: 10px 5px 5px var(--dk-gray);
}

#footer-bottom{
    font-family: var(--p-font);
}
#footer-bottom p{
    font-size: 1rem;
}

#footer-bottom a{
    color: var(--brown)
}

#footer-bottom a:hover{
    color: var(--white)
}

a:focus, #footer-bottom a:focus{
    color: var(--dk-blue);
}

a:visited, #footer-bottom a:visited{
    color: var(--dk-gray);
}




 /*MEDIA QUERY */

@media screen and (max-width: 780px){

    
h1 { 
    font-size: 4rem; 
}
h2 { 
    font-size: 2.5rem; 
}
h3 { 
    font-size: 2rem; 
}
h4, fieldset label { 
    font-size: 1.5rem; 
}
p { font-size: 1rem; }


#skip-link {
    left: 140px;
    margin-top: 50px;
    transform: translate(-55%, -75px);
    font-size: 1.5rem;
    padding: 10px 30px;
}

header, nav, ul, #majorca, #footer-top, fieldset, 
.container-2, .container-3 {
    flex-direction: column;
    align-items: center;
    text-align: center;
}

header, #footer-top { 
    padding: 10px; 
}
#footer-top { 
    padding: 2rem 0; 
}

ul { 
    padding: 0; 
}
li {
    margin: 5px 0;
    padding: 10px;
    width: 100%;
}

main #majorca, .majorca-images, .container-2, .container-3 {
    flex-direction: column;
}

#majorca p {
    padding: 0 1em;
    font-size: 1.4rem;
}


.container-1 {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}

.container-2 div, .container-3 div {
    margin: 15px 0;
}

.container-2 img {
    width: 100px;
    height: 100px;
}

form {
    width: 90%;
    max-width: 400px;
    padding: 15px;
}

fieldset { 
    padding: 1rem; 
}
input {
    width: 100%;
    padding: 15px;
    font-size: 1em;
}

input[type=submit]{
    font-size: 0.75rem;
	max-width: 200px;
    width: 65%;
	margin-left: 43px;
}

}


